/* dit zijn alle css bewerkingen voor de website gracie-haarlem */
@font-face
{
font-family: "Berlin Sans FB";
src: url("fonts/Berlin Sans FB.ttf");
}

@font-face
{
font-family: "Times New Roman";
src: url("fonts/Times New Roman.ttf");
}

@font-face
{
font-family: "Times";
src: url("fonts/Times.ttf");
}

@font-face
{
font-family: Arial;
src: url("fonts/Arial.ttf");
}

body
{
	max-width:1000px;
	margin:auto;
	font-family: "Berlin Sans FB", Arial, "Times New Roman", Times, serif;
	font-style:normal;
	z-index:9998;
}

#background-video
{
	 position: fixed;
	 right: 0;
	 bottom: 0;
	 min-width: 100%; 
	 min-height: 100%;
	 z-index:-100;
	 background-position:center center;
}

#navigation-bar
{
	list-style-type: none;
	margin:0;
	padding:0px;
	background-color:#2699FB;
	overflow:hidden;
	border: 5px solid #000000;
	border-radius: 10px;
	border-style: inset;
}

#jiujitsu
{
	padding:30px;
}
.navigation-element
{
	float:left;
}

h1
{
	color:#707070;
	position:relative;
	text-align: center;
}

h2
{
	color:#AAAAAA;
	text-align: center;
}

.navigation-element a:hover:not(.navigation-element) {
  background-color: #FFFFFF;
}



.navigation-element a
{
	display:block;
	color: #444444;
	padding: 30px 70.7px;
	text-decoration: none;
}

nav
{
	margin-bottom:30px;
}
.index-image
{
	height:250px;
	width:250px;
}

.secondary-image
{
	height:300px;
	width:400px;
	padding:20px;
}

#grid-container-index
{
	display:grid;
	grid-template-columns: auto auto auto auto;
	grid-gap:30px;
	border:5px solid #000;
	padding:30px;
	border-radius: 10px;
}

#grid-container-secondary
{
	display:grid;
	grid-template-columns: auto;
	grid-gap:30px;
	border:5px solid #000;
	padding:30px;
	border-radius: 10px;
}

#grid-container-sport
{
	display:grid;
	grid-template-columns:;
	grid-gap:10px;
	border:5px solid #000;
	padding:30px;
	border-radius: 10px;
	
}

#grid-container-jiujitsu
{
	display:grid;
	grid-template-columns:;
	grid-gap:10px;
	border:5px solid #000;
	padding:30px;
	border-radius: 10px;
}

#grid-container-jiujitsu
{
	display:grid;
	grid-template-columns:;
	grid-gap:10px;
	border:5px solid #000;
	padding:30px;
	border-radius: 10px;
}

#grid-container-contact
{
	display:grid;
	grid-template-columns:;
	grid-gap:10px;
	border:5px solid #000;
	padding:30px;
	border-radius: 10px;
}
.headers
{
	
	border:5px solid #000;
	border-radius: 10px;
	background-color:#FFFFFF;
	margin-bottom:30px;
}
#index-text
{
	width:500px;
}
.sport-image
{
	height:400px;
	width:500px;
}

#cookie-statement
{
	z-index:9999;
	border: 1px solid #F5F5F5;
	position:fixed;
	top:622px;
	left:0px;
	background-color:#FFF;
}

p
{
	font-style:normal;
}

article
{
	font-style:normal;
}

section
{
	background-color:#FFFFFF;
}



@media screen and (min-width: 960px) {
	body
	{
		width:960px;
	}
}

@media screen and (max-width: 960px) {
	body
	{
		width:400px;
	}
	
	#text
	{
		width:280px;
	}
	
	.navigation-element a
	{
		padding: 8px 14.7px;
		text-decoration: none;
	}
	
	#grid-container-index
	{
		grid-template-columns: auto;
		grid-gap:30px;
	}
	
	#grid-container-secondary
	{
		grid-template-columns: auto;
		grid-gap:30px;
	}
	
	.secondary-image
	{
		width:250px;
		height:200px;
	}
	
	#sportlijst
	{
		width:300px;
	}
	
	.sport-image
	{
		width:250px;
		height:200px;
		margin-bottom:30px;
	}
	
	.jiujitsu-tekst
	{
		width:340px;
	}
	#jiujitsu
	{
		width:250px;
		height:200px;
		margin-right:30px;
	}
}
	
	
}

@media screen and (max-width: 400px) {
	body
	{
		width:400px;
	}
}

