/* dit zijn alle css bewerkingen voor de website gracie-haarlem */

ul
{
	list-style-type: none;
	margin:0;
	padding:0;
}

.index-image
{
	height:400px;
	width:400px;
}

.secondary-image
{
	height:500px;
	width:750px;
	float:left;
}

.sport-image
{
	height:400px;
	width:500px;
}
body
{
	font-style:normal;
	z-index:9998;
}

#cookie-statement
{
	z-index:9999;
	margin:50px; 
}

p
{
	font-style:normal;
}

article
{
	font-style:normal;
}




